@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #7d7d7d;
}

body, html {
    background: #212121;
}

section#main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    background: none;

    color: #c1c1c1;

    font-size: 30px;
    border: solid 2px;
    padding: 15px 25px 15px 25px;

    width: 200px;

    margin: 10px 0;

    -webkit-animation: buttonAnimation 14s ease-in-out infinite;
    -o-animation: buttonAnimation 14s ease-in-out infinite;
    animation: buttonAnimation 14s ease-in-out infinite;
}

.button:hover {
    background: #3d3d3d;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

@keyframes buttonAnimation {
    0%, 100% {
        border-color: #a82f2c;
        color: #a82f2c;
    }

    25% {
        border-color: #008000;
        color: #008000;
    }

    50% {
        border-color: rgba(0, 0, 170, 0.8);
        color: rgba(0, 0, 170, 0.8);
    }

    75% {
        border-color: #b200b2;
        color: #b200b2;
    }

}